@import url("index.css");

.popup-header-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  border-bottom: 1px black solid;
  padding: 1rem;
}

.popup-header-container h2 {
  font-family: var(--font-family-header);
}
