/* Satoshi */

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* Fira Mono */

@font-face {
  font-family: "Fira Mono";
  src: url("../fonts/FiraMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Mono";
  src: url("../fonts/FiraMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Fira Mono";
  src: url("../fonts/FiraMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-family-header: "Fira Mono", monospace;
  --font-family-default: "Satoshi";
  --color-background: #f0f0f0;
  --color-secondary-dark: #bbe6e4;
  --color-primary: #93e2f5;
  --color-text-default: #0b0b0b;
  --color-primary-false: #f59395;
  --color-background-false: #e6bbbc;
  --color-verdict-true: #00c5f4;
  --color-verdict-false: #f40004;
  --color-background-links: #d9f2d8;
  --color-background-error: #e6e1bb;
}

* {
  box-sizing: border-box;
}

.popup-card {
  width: 50vw;
  height: 90vh;
  border: 1px solid black;
  font-family: var(--font-family-default);
  border-radius: 0.8rem;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 1);
  color: var(--color-text-default);
  background-color: var(--color-background);
  overflow: auto;
}

.popup-card .explanation-js {
  width: 100%;
  height: 200px;
  resize: none;
  overflow: auto;
  padding: 0.8rem;
  border-radius: 1rem;
  color: var(--color-text-default);
}

.popup-card .verdict-container {
  text-align: center;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.popup-card .verdict-container .verdict-result {
  font-size: 2rem;
  text-shadow: -1px -1px 0 black, 3px -1px 0 black, -1px 1px 0 black,
    4px 1px 0 black;
}

.popup-card .links-container {
  padding: 1rem;
  border-top: 1px solid black;
  background-color: var(--color-background-links);
}

.popup-card .verdict-container-true {
  background-color: var(--color-secondary-dark);
}

.popup-card .verdict-result-true {
  color: var(--color-verdict-true);
}

.popup-card .explanation-js-true {
  background-color: var(--color-primary);
}

.popup-card .verdict-container-false {
  background-color: var(--color-background-false);
}

.popup-card .verdict-result-false {
  color: var(--color-verdict-false);
}

.popup-card .explanation-js-false {
  background-color: var(--color-primary-false);
}
