/* Satoshi */

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* Fira Mono */

@font-face {
  font-family: "Fira Mono";
  src: url("../fonts/FiraMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Mono";
  src: url("../fonts/FiraMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Fira Mono";
  src: url("../fonts/FiraMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-family-header: "Fira Mono", monospace;
  --font-family-default: "Satoshi";
  --color-background: #f0f0f0;
  --color-secondary-dark: #bbe6e4;
  --color-primary: #93e2f5;
  --color-text-default: #0b0b0b;
  --color-primary-false: #f59395;
  --color-background-false: #e6bbbc;
  --color-verdict-true: #00c5f4;
  --color-verdict-false: #f40004;
  --color-background-links: #d9f2d8;
  --color-background-error: #e6e1bb;
  --color-background-loading: #f0f6f6;
}

* {
  box-sizing: border-box;
}

.popup-card {
  width: 60vw;
  height: 80vh;
  border: 1px solid black;
  font-family: var(--font-family-default);
  border-radius: 0.8rem;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 1);
  color: var(--color-text-default);
  background-color: var(--color-background);
  overflow: auto;
  transition: all 0.5s ease;
}

.popup-card .loading-state {
  background-color: var(--color-background-loading);
}

.popup-card.error-state {
  background-color: var(--color-background-error);
}
